
<header>
  <div class="interface">
      <div class="logo">
          <a href="#">
             <img src="../../assets/logo.jpg" alt="Logo Pizzaria" width="200px">
          </a>
      </div><!--logotipo-->
      <nav class="menu-desktop">
          <ul>
              <li><a routerLink="/login">Entrar</a></li>
              <li><a target="_blank" href="https://wa.me/5511960713016">Contate-nos</a></li>
              <li><a routerLink="/about">Sobre nós</a></li>
          </ul>
      </nav>
  </div>
</header>
