.header {
  background-color: #d3d3d3;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
