<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>budget!</title>
</head>
<body>
    <h2>Qual a finalidade da sua maquina? explique para nos que vamos te auxiliar!</h2>

    <form action="/submit" method="POST">
        <label for="nome">Qual seu Orcamento Atual?:</label><br>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="email">quer alguma peca especifica?:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="mensagem">Qual sua forma de Pagamento:</label><br>
        <textarea id="mensagem" name="mensagem" rows="4" required></textarea><br><br>

        <input type="submit" value="Confirmar">
    </form>
</body>
</html>
