<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>budget!</title>
</head>
<body>
    <h2>Qual a finalidade da sua maquina? explique para nos que vamos te auxiliar!</h2>

    <form action="/submit" method="POST">
        <label for="nome">Qual seu Orcamento Atual?:</label><br>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="email">quer alguma peca especifica?:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="mensagem">Qual sua forma de Pagamento:</label><br>
        <select id="payment-method" name="payment-method" required>
          <option value="cartao-credito">Cartão de crédito</option>
          <option value="cartao-debito">Cartão de débito</option>
          <option value="pix">PIX</option>
          <option value="boleto">Boleto Bancário</option>
          <option value="paypal">PayPal</option>
          <option value="dinheiro">Dinheiro na entrega</option>
        </select>
        <div class="confirm">
          <a routerLink="/confirm-order"><button><a>Confirmar</a></button></a>
        </div>


    </form>
</body>
</html>
