<div class="container">
  <!-- Botão para esconder/mostrar a barra lateral -->
  <button class="toggle-btn" (click)="toggleNav()">
    ☰
  </button>

  <!-- Barra lateral -->
  <div class="side-nav" [class.hidden]="isNavHidden">
    <ul>
      <div class="logo">
        <a href="#">
          <img src="../../assets/logopchouse2-removebg-preview.png" alt="LogoPC" width="150px">
        </a>
      </div>
      <li><a routerLink="/monte-seu-pc"> Monte seu Pc </a></li>
      <li><a routerLink="/hardware"> Hardware </a></li>
      <li><a routerLink="/pcs-gamers"> PC's Gamers </a></li>
      <li><a routerLink="/orcamento"> Faça seu orçamento </a></li>
    </ul>
  </div>

  <!-- Conteúdo principal -->
  <div class="main-content" [class.nav-hidden]="isNavHidden">
    <router-outlet></router-outlet>
  </div>
</div>
