
<div class="side-nav">
  <ul>
    <img src="../../assets/logopchouse2-removebg-preview.png" alt="LogoPC" width="140px">
    <li><a routerLink="/monte-seu-pc">Monte seu
      <img src="../../assets/ferramenta.png" width="30px ">
    </a></li>
    <li><a routerLink="/hardware">Hardware
      <img src="../../assets/hardware.png" width="30px">
    </a></li>
    <li><a routerLink="/pcs-gamers">PC's Gamers

    </a></li>
    <li><a routerLink="/orcamento">Faça seu orçamento
      <img src="../../assets/dolar.png" width="30px">
    </a></li>
  </ul>
</div>
