@charset "UTF-8";

/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background-color: #6a2c2c;
  height: 100vh;
  display: flex; /* Centraliza conteúdo com Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/* ESTILO CABEÇARIO */

header{
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: .2s;
}

header a:hover{
  color: rgb(0, 0, 0);
  transform: scale(1.15);
}

header nav ul {
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 40px;
}

header .btn-cardapio button {
  color: white;
  padding: 10px 40px;
  font-size: 13px;
  font-weight: 500px;
  background-color: rgb(6, 6, 6);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

header .btn-cardapio button:hover {
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
   padding: 40px 4%;
}

section.topo-do-site {
  align-items: center;
  justify-content: center;
}

.topo-do-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

.img-topo-site img:hover {
  color: black;
}

/* TELA DE CADASTRO */

.form {
  padding: 30px 20px; /* Adicionado maior espaçamento interno */
  background-color: #f2f2f2; /* Fundo branco para destaque */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8); /* Adiciona sombra suave */
  width: 100%;
  max-width: 400px; /* Define uma largura máxima para o formulário */
  margin: 0 auto; /* Centraliza horizontalmente o formulário */
}

.form input, .form textarea, .form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px; /* Espaçamento entre os campos */
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 14px;
}

h1 {
  margin-bottom: 20px; /* Maior espaçamento abaixo do título */
  text-align: center; /* Centraliza o título */
}

.texto-e-titulo {
  flex: 1 1 50%; /* Ocupa metade da largura, ou um pouco menos */
}

/* Ajuste no botão do formulário */
section .login-button button {
color: white;
  width: 100%;
  border-color: rgb(0, 140, 222);
  border-radius: 30px;
  padding: 12px 30px; /* Aumenta o padding para maior conforto */
  background-color: rgb(0, 140, 222);
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;

}

.login-button a{
  color: white;
  text-decoration: none;
}

.login-button button:hover {
  box-shadow: 0px 0px 8px rgb(0, 140, 222);
  transform: scale(1.05);
  animation: flutuar 2s ease-in-out infinite alternate;
}

/*mobile*/
@media (max-width: 768px) {
  .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
      width: calc(50% - 20px);
      padding: 10px;
  }
  .rodape-div{
      padding: 60px 0px 40px 0px;
  }
}

/* Estilos para o corpo e a estrutura geral */

/* Container principal */

@keyframes flutuar {
  0% {
    top: 0;
  }
  100%{
    top: 40px;
  }
}
