@charset "UTF-8";

/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}


.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/* ESTILO CABEÇARIO */

header{
  padding: 40px 4% ;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: .2s;
}

header a:hover{
  color: rgb(0, 0, 0);
  transform: scale(1.15);
}

header nav ul {
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 40px;
}

header .btn-cardapio button {
  color: white;
  padding: 10px 40px;
  font-size: 13px;
  font-weight: 500px;
  background-color: black;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

header .btn-cardapio button:hover {
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
   padding: 40px 4%;
}

section.topo-do-site {
  align-items: center;
  justify-content: center;
}

.topo-do-site .img-topo-site img{

  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;

}
 .img-topo-site img:hover {
  color: black;

}



/* TELA DE CADASTRO */


.form {  /* This should be the selector for form styles, not "box" */
  padding: 40px 5%;
}

.flex {
  display: inline-block;
  align-items: center; /* Centraliza verticalmente */
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.form {
  flex: 1 1 45%; /* Ocupa um pouco menos da metade, deixando espaço para margens/padding */
  margin-left: auto; /* Empurra o formulário para a direita */
  height:auto ;
 float: right;
}



.texto-e-titulo {
  flex: 1 1 50%; /* Ocupa metade da largura, ou um pouco menos */
}

section .login-button button{

width: auto;
border-radius: 30px;
padding: 10px 30px;
background-color: black;
margin-top: 15px;
cursor: pointer;
}

.login-button a {

color: white;
text-decoration: none;

}

.login-button button:hover {
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
  transform: scale(1.05);
}

/* RODAPE DO SITE */

.rodape{
  background-color: #000000;
  color: white;
  height: auto;
  width: 100%;
  font-size: 14px;
  font-family: helvetica;
}
.rodape a{
  text-decoration: none;
  color: white;
}
.rodape p{
  margin-bottom: 5px;
}
.rodape-div{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin: auto;
  align-items: stretch;
  padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
  display: flex;
  width: calc(100% / 4 - 20px);
  padding: 10px;
}
.rodape span{
  font-size: 20px;
  color: white;
}
.rodape-direitos{
  width: calc(100% - 20px);
  background-color: black;
  padding: 10px;
  margin: 0px;
  text-align: center;
}
/*mobile*/
@media (max-width: 768px) {
  .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
      width: calc(50% - 20px);
      padding: 10px;
  }
  .rodape-div{
      padding: 60px 0px 40px 0px;
  }
}


/* Estilos para o corpo e a estrutura geral */

/* Container principal */

@keyframes flutuar {
  0% {
    top: 0;
  }
  100%{
    top: 40px;
  }
}
