<footer class="rodape" id="contato">
  <div class="rodape-div">

      <div class="rodape-div-1">
          <div class="rodape-div-1-coluna">

              <span><b>Endereço</b></span>
              <p>SIA Trecho 5 lote 000 bloco z sala 900 - Guará, Brasília - DF, 70000-010</p>
          </div>
      </div>

      <div class="rodape-div-2">
          <div class="rodape-div-2-coluna">

              <span><b>Contatos</b></span>
              <p>+55 11 96071-3016</p>
          </div>
      </div>

      <div class="rodape-div-3">
          <div class="rodape-div-3-coluna">

              <span><b>Links</b></span>
              <p><a target="_blank" href="https://www.instagram.com/pizzarialanostracasa1996/">instagram</a></p>
              <p><a href="sobrenos.html">Sobre</a></p>
          </div>
      </div>

      <div class="rodape-div-4">
          <div class="rodape-div-4-coluna">

              <span><b>Outros</b></span>
              <p>Políticas de Privacidade</p>
          </div>
      </div>

  </div>
  <p class="rodape-direitos">Copyright © 2025 – Todos os Direitos Reservados a Henrique Sérgio.</p>
</footer>
