<body>
  <header>
    <div class="logo">
        <a href="#">
            <img src="../../assets/logo.jpg" alt="Logo Pizzaria" width="300px">
        </a>
    </div>
  </header>

  <main>
    <div class="confirmacao-container">
        <h1>Pedido Confirmado!</h1>
        <p>Obrigado por escolher a <strong>Pizzaria Flow</strong>.</p>


        <div class="acao">
            <p>Seu pedido será entregue em breve, Dentro de 1 hora.</p>
            <a href="cardapio.html"><button>Voltar para o cardápio</button></a>
        </div>
    </div>

  </main>

  <footer>
    <p>Copyright © 2025 – Todos os Direitos Reservados a Henrique Sérgio.</p>
  </footer>

</body>
